* {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
::-webkit-scrollbar {
  width: 5px;               /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: #FFF;        /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: #05728F;    /* color of the scroll thumb */
  border-radius: 20px;     
}

::placeholder{
  font-family: "Poppins", sans-serif;
}